
custom-shader = ~/ghostty-shaders/tft.glsl

window-height=40

window-width=130

font-feature=-liga


font-thicken=true

font-feature = -calt

font-feature = -dlig

adjust-cell-height = 9%

mouse-scroll-multiplier = 0.5

macos-titlebar-style = tabs

selection-invert-fg-bg = true

bold-is-bright = true

minimum-contrast = 2

cursor-style = block

cursor-style-blink = true

cursor-invert-fg-bg = true

cursor-opacity = .8

shell-integration-features = no-cursor

window-padding-x = 5

window-padding-y = 5

copy-on-select = clipboard

theme = catppuccin-{{ .catppuccin_flavor }}.conf
font-size = 13.5
font-family = Cartograph CF
