background-blur = true
background-opacity = 0.85
clipboard-read = allow
custom-shader = ~/.ghostty-shaders/cursor_blaze.glsl
font-feature = -calt, -liga, -dlig
font-size = 13.5
shell-integration = fish
theme = catppuccin-{{ .catppuccin_flavor }}.conf
window-height = 24
window-inherit-working-directory = false
window-padding-x = 5
window-padding-y = 5
window-width = 80
working-directory = home
